# PostgreSQL Configuration
DB_USER=postgres
DB_PASSWORD=examorapass123_ganti_di_vps
DB_NAME=examora

# Fastify Backend Configuration
PORT=3000
JWT_SECRET=rahasia_jwt_examora_kombinasi_acak_panjang_vps_2026

# Default Super Admin Seed
SUPERADMIN_IDENTIFIER=superadmin
SUPERADMIN_PASSWORD=AdminExamora2026!
SUPERADMIN_NAME="Super Administrator Examora"
