DATABASE_URL="postgresql://postgres:examorapass123@localhost:5432/examora?schema=public"
PORT=3000
HOST="0.0.0.0"
JWT_SECRET="examora_super_secure_jwt_secret_key_change_me_in_vps"
UPLOAD_DIR="./uploads"

# Initial Superadmin Seed Credentials
SUPERADMIN_IDENTIFIER="superadmin"
SUPERADMIN_PASSWORD="AdminExamora2026!"
SUPERADMIN_NAME="Super Administrator"
