@tailwind base;
@tailwind components;
@tailwind utilities;

html.dark {
  color-scheme: dark;
  background-color: #080C15;
  color: #F8FAFC;
}

html.light {
  color-scheme: light;
  background-color: #F8FAFC;
  color: #0F172A;
}

body {
  margin: 0;
  min-height: 100vh;
}

/* Light / Dark Mode Scrollbar */
html.dark ::-webkit-scrollbar-track {
  background: #080C15;
}
html.dark ::-webkit-scrollbar-thumb {
  background: #222F4C;
  border-radius: 4px;
}
html.dark ::-webkit-scrollbar-thumb:hover {
  background: #00E5FF;
}

html.light ::-webkit-scrollbar-track {
  background: #F1F5F9;
}
html.light ::-webkit-scrollbar-thumb {
  background: #CBD5E1;
  border-radius: 4px;
}
html.light ::-webkit-scrollbar-thumb:hover {
  background: #0284C7;
}
